// Those colors need to be in sync to what is on variables.scss
// To generate a palette go to: http://mcg.mbitson.com/ copy the hex for an ionic color, and it will generate the palette

$sei-primary: (
    50: #e1eaee,
    100: #b3cad4,
    200: #80a7b8,
    300: #4d839c,
    400: #276986,
    500: #014e71,
    600: #014769,
    700: #013d5e,
    800: #013554,
    900: #002542,
    A100: #77b6ff,
    A200: #449aff,
    A400: #117eff,
    A700: #0071f6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff
    )
);

$sei-secondary: (
    50: #e1eef4,
    100: #b5d5e4,
    200: #84bad2,
    300: #539ebf,
    400: #2e89b2,
    500: #0974a4,
    600: #086c9c,
    700: #066192,
    800: #055789,
    900: #024478,
    A100: #a6d2ff,
    A200: #73b8ff,
    A400: #409eff,
    A700: #2692ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff
    )
);

$sei-tertiary: (
    50: #eee9ff,
    100: #d4c7ff,
    200: #b8a2ff,
    300: #9b7cff,
    400: #8560ff,
    500: #7044ff,
    600: #683eff,
    700: #5d35ff,
    800: #532dff,
    900: #411fff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #d5ceff,
    A700: #bfb5ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$sei-success: (
    50: #e1eeeb,
    100: #b3d4ce,
    200: #80b8ad,
    300: #4d9b8c,
    400: #278573,
    500: #01705a,
    600: #016852,
    700: #015d48,
    800: #01533f,
    900: #00412e,
    A100: #76ffcd,
    A200: #43ffba,
    A400: #10ffa7,
    A700: #00f69b,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$sei-danger: (
    50: #faeaea,
    100: #f4cbca,
    200: #eca9a7,
    300: #e48784,
    400: #df6d69,
    500: #d9534f,
    600: #d54c48,
    700: #cf423f,
    800: #ca3936,
    900: #c02926,
    A100: #fffdfd,
    A200: #ffcbca,
    A400: #ff9997,
    A700: #ff807e,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
$sei-warning: (
    50: #fff9e0,
    100: #ffefb3,
    200: #ffe480,
    300: #ffd94d,
    400: #ffd126,
    500: #ffc900,
    600: #ffc300,
    700: #ffbc00,
    800: #ffb500,
    900: #ffa900,
    A100: #ffffff,
    A200: #fffaf2,
    A400: #ffe7bf,
    A700: #ffdda6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$sei-dark: (
    50: #e9e9e9,
    100: #c7c7c7,
    200: #a2a2a2,
    300: #7c7c7c,
    400: #606060,
    500: #444444,
    600: #3e3e3e,
    700: #353535,
    800: #2d2d2d,
    900: #1f1f1f,
    A100: #ffffff,
    A200: #eaeaea,
    A400: #dadada,
    A700: #c7c7c7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);

$sei-medium-darker: (
    50: #ebebeb,
    100: #cccccc,
    200: #ababab,
    300: #898989,
    400: #6f6f6f,
    500: #565656,
    600: #4f4f4f,
    700: #454545,
    800: #3c3c3c,
    900: #2b2b2b,
    A100: #ffffff,
    A200: #eaeaea,
    A400: #dadada,
    A700: #c7c7c7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff
    )
);

$sei-medium-dark: (
    50: #f0f0f0,
    100: #d9d9d9,
    200: #c0c0c0,
    300: #a6a6a6,
    400: #939393,
    500: #808080,
    600: #787878,
    700: #6d6d6d,
    800: #636363,
    900: #505050,
    A100: #ffffff,
    A200: #eaeaea,
    A400: #dadada,
    A700: #c7c7c7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff
    )
);

$sei-medium: (
    50: #f6f6f6,
    100: #e8e8e8,
    200: #d9d9d9,
    300: #c9c9c9,
    400: #bebebe,
    500: #b2b2b2,
    600: #ababab,
    700: #a2a2a2,
    800: #999999,
    900: #8a8a8a,
    A100: #ffffff,
    A200: #eaeaea,
    A400: #dadada,
    A700: #c7c7c7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$sei-light: (
    50: #fdfdfd,
    100: #fafafa,
    200: #f7f7f7,
    300: #f3f3f3,
    400: #f1f1f1,
    500: #eeeeee,
    600: #ececec,
    700: #e9e9e9,
    800: #e7e7e7,
    900: #e2e2e2,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
